[submodule "src/rslidar_sdk/src/rs_driver"]
	path = src/rslidar_sdk/src/rs_driver
	url = https://github.com/zeroworks-robotics/rs_driver.git

[submodule "src/rslidar_msg"]
	path = src/rslidar_msg
	url = https://github.com/ZEROWORKS-Hyeokjin/rslidar_msg.git
